[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
spidev = "*"
pillow = "*"
st7789 = "*"
flask = "*"
flask-restful = "*"
requests = "*"
numpy = "*"
pydub = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
